html {
	overflow-x: hidden;
}
body, html {
	background: $body_background;
}
.table-wrapper {
	display: table;
	width: 100%;
}

.wrapper {
	max-width: $max_width;
	width: 1200px;
	margin: 0 auto;
	@media screen and( max-width: 1200px ) {
		width: 100%;
	}
}

body > .wrapper {
	min-height: 100%;
	position: relative !important;
}

.wrapper {
	display: table;
	table-layout: fixed;
	@media screen and( max-width: 600px ) {
		display: block;
	}
}
#header,
.table-row {
	display: table-row;
	@media screen and ( max-width: 600px ) {
		display: block;
		width: 100%;
	}
}

.primary,
.secondary {
	display: table-cell;
	@media screen and ( max-width: 600px ) {
		display: block !important;
		width: 100% !important;
		padding: 0 !important;
		float: none;
		clear: both;
	}
}
.primary {
	width: 75%;
}
.secondary {
	width: 25%;
}

.primary,
.secondary {
	display: table-cell;
	position: relative;
	vertical-align: top;
	@media screen and( max-width: 500px ) {
		.primary,
		.secondary {
			display: block;
			clear: both;
			width: 100%;
		}
	}
}


.primary {
	@media screen and (max-width: 600px ) {
		padding-bottom: 0;
	}
}
.secondary {
	@media screen and (max-width: 600px ) {
		padding-top: 20px !important;
	}
}

.primary {
	width: $content_width;
	min-height: $header_height;
}

.secondary {
	width: $sidebar_width;
}

#secondary {
	padding: 0 0 0 0;
	min-height: 100%;
	height: auto;
	@media screen and( max-width: 600px ) {
		position: static;
	}
}

#header,
#header .table-wrapper {
	height: $header_height;
}

#header {
	.menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-weight: 600;
		text-align: right;
		li {
			display: inline-block;
		}
	}
}

#header {
	.menu {
		padding-right: 2em;;
	}
	.menu li {
		margin-left: 1em;
	}
}

#header .site-title,
#header .site-navigation {
	display: table-cell;
	vertical-align: middle;
	ul {
		padding-left: 0;
	}
	@media screen and (max-width: 750px) {
		display: table-row;
		width: 100%;
		text-align: center;
		vertical-align: bottom;
		.logo {
			height: auto;
		}
		#menu-nav {
			text-align: center;
		}
	}
}

#header .site-title,
#header .site-navigation {
	width: 50%;
}
#header h1.site-title {
	@media screen and (max-width: 750px) {
		font-size: 1.5em;
	}
}

#header,
#header .primary,
#header .secondary {
	@media screen and (max-width: 600px) {
		display: block;
		text-align: center;
		width: 100%;
		height: auto;
		min-height: 0;
		.site-title,
		.site-navigation,
		.table-wrapper	{
			display: block;
			width: 100%;
			height: auto;
		}
		.header-buttons {
			line-height: inherit;
			padding: 20px 0;
		}
		.site-navigation {
			li a {
				padding: 0 10px;
			}
		}
	}
}

#content:after,
.hentry:after,
.wpjb-job-content:after {
	display: table;
	content: '';
	clear: both;
}

#primary {
	padding-bottom: 70px;
}
#footer {
	display: block;
	position: absolute;
	margin-top: -70px;
	width: 73%;
	z-index: 0;
	z-index: 0;
	@media screen and( max-width: 1200px ) {
		width: 73%;
	}
	.footer-navigation {
		ul {
			list-style-type: none;
			margin-left: 0;
			padding-left: 0;
		}
		li {
			float: left;
			margin-left: 1em;
			position: relative;
			&:first-child {
				margin-left: 0;
			}
		}
		.sub-menu,
		.children {
			display: none;
		}
	}
	.footer-navigation,
	.footer-content {
		width: 50%;
		float: left;
	}
	.footer-content {
		text-align: right;
	}
	@media screen and( max-width: 600px ) {
		position: static;
		margin-top: 0;
		width: 100%;
		clear: both;
		background: $body_background;
		.footer-navigation,
		.footer-content {
			width: 100%;
			float: none;
			clear: both;
			padding: 1em 1em 0 1em;
			p {
				margin: 0;
				padding: 0;
			}
			text-align: center;
		}
	}
}


