.btn {
	@include button;
}


.btn-full {
	width: 100%;
}

.button-group {
	.btn {
		width: 40%;
		height: 50px;
		line-height: 50px;
		display: inline-block;
		margin: 0;
		padding: 0;
		border-left: 1px solid rgba( 0, 0, 0, 0.15 );
	}
	.btn:first-child {
		@include border-radius( 5px 0 0 5px );
		border-left: none;
	}
	.btn:last-child {
		@include border-radius( 0 5px 5px 0 );
	}
}

.header-buttons {
	@media screen and (max-width: 750px) and (min-width: 600px), (max-width: 200px) {
		.btn {
			@include border-radius( 5px !important );
			display: block;
			margin: 1em auto 0 auto;
			width: 80%;
		}
	}
}

.site-title {
	margin: 0;
	.logo {
		max-width: 100%;
		max-height: 130px;
		vertical-align: middle;
	}
}

#site-navigation {
	.menu-item,
	.page_item	{
		position: relative;
		&:hover > .sub-menu {
			display: block;
		}
	}
	.sub-menu,
	.children {
		display: none;
		position: absolute;
		z-index: 99;
		text-align: left;
		background: #fff;
		width: 200px;
		left: 0;
		padding-left: 0;
		margin-left: 0;
		@include border-radius( 5px );
		li {
			display: block;
			padding: 0;
			margin: 0;
			a {
				display: block;
				padding: 0.5em;
			}
		}
	}
	.sub-menu .sub-menu,
	.children .children {
		top: 0;
		left: 100%;
	}
}

.widget {
	width: 85%;
	margin: 35px auto 10px auto;
	.widget-title,
	table caption	{
		border-bottom: 1px solid $font_color;
		padding-bottom: 8px;
		margin-bottom: 11px;
		font-weight: 700;
	}
	a {
		font-weight: 600;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		a {
			display: block;
			padding: 6px 12px;
			color: $font_color;
			@include border-radius( 5px );
			&:hover {
				background: $content_background;
				color: $green;
			}
		}
	}
	input,
	select	{
		width: 100%;
		display: block;
		margin-bottom: 15px;
	}
	input[type=submit] {
		@include button; 
		border: none;
	}
	table {
		width: 100%;
		text-align: center;
	}
	.recentcomments {
		padding: 11px;
		@include border-radius( 5px );
		&:hover {
			background: $content_background;
		}
	}
	.recentcomments a {
		color: $green;
		&:hover {
			color: $font_color;
			background: none;
		}
	}
	.wpjb-label {
		position: absolute;
		left: -1000em;
	}
}
.widget_wpjb-recent-jobs {
	li {
		margin-bottom: 5px;
		a {
			padding-top: 11px;
			padding-bottom: 11px;
			}
	}
	.job-title {
		margin: 0;
		padding: 0;
		font-size: 1.077em;
	}
	span {
		display: block;
		margin-top: 5px;
		font-weight: 500;
	}
	li a:hover span {
		color: $font_color;
	}
	.view-all {
		display: block;
		text-align: right;
		margin-top: 1em;
	}
}

.where-am-i {
	min-height: 65px;
	display: block;
	color: #b6b6b6;
	h1,
	h2	{
		margin: 0;
		padding: 20px 0 0 0;
		font-size: 1em;
	}
}

.more-link {
	float: right;
	margin-top: 1em;
	font-weight: 600;
}

.hentry {
	padding: 0 0 20px 0;
	.entry-title {
		margin: 0 0 5px 0;
		a {
			color: $font_color;
		}
	}
	.entry-meta {
		color: $font_color_lighter;
	}
	.entry-content {
		margin: 0;
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 1px;
		background: $body_background;
		margin-top: 20px;
	}
	.post-thumbnail {
		max-width: 300px;
		float: left;
		margin: 0 2% 1em 0;
		img {
			vertical-align: middle;
		}
	}
	@media screen and( max-width: 600px ) {
		.post-thumbnail {
			float: none;
			max-width: 100%;
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}

}
body.blog .hentry {
	&:after {
		@include bottom-line;
	}
}

.media {
	overflow: hidden;
	.m-image-wrapper {
		float: left;
		line-height: 100%;
		margin: 0 20px 0 0;
		img {
			width: 100%;
			height: auto;
			@include border-radius( 5px );
		}
	}
	.m-head {
		font-size: 14px;
		font-weight: 700;
		margin: 0;
		a {
			color: $font_color;
			font-style: normal;
		}
	}
	p {
		margin-top: 5px;
	}
}

.author-box {
	color: $font_color;
	.ab-header {
		padding: 24px 0;
		margin: 0;
	}
	.media {
		padding: 25px;
		background: #eff0f2;
		@include border-radius( 5px );
	}
}

.single .author-box {
	margin: 18px 0;
	&:before {
		content: '';
		height: 1px;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		background: $body_background;
	}
}

.page-numbers {
	list-style-type: none;
	font-weight: 700;
	li {
		float: left;
		margin-left: 5px;
	}
	a,
	.current{
		@include button;
		padding: 7px 11px;
	}
	.current,
	.current:hover	{
		color: lighten( $font_color, 30% );
		background-color: $sidebar_background;
	}
}

.navigation-paging {
	margin-right: 2em;
	ul.page-numbers {
		float: right;
		margin: 0;
		padding: 0;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
#wpjb-paginate-links {
	text-align: right;
	.page-numbers {
		@include button;
		padding: 7px 11px;
	}
	.current,
	.current:hover	{
		color: lighten( $font_color, 30% );
		background-color: $sidebar_background !important;
	}
}

.comment-list {
	list-style-type: none;
	padding-left: 0 !important;
	ul {
		list-style-type: none;
	}
	article.comment {
		padding: 20px 0;
		border-bottom: 1px solid $body_background;
	}
	.commentmetadata.comment-meta { // ugly but helpful enough
		font-weight: normal;
		color: $font_color_lighter;
		margin-left: 5px;
	}
	.m-image-wrapper {
		margin-right: 10px;
		margin-top: 7px;
	}
	.reply a {
		@include button;
		padding: 2px 25px;
		font-weight: 600;
		float: right;
		font-size: 12px;
	}
	.edit-link a {
		color: $green;
		font-weight: normal;
		font-style: italic;
		margin-left: 5px;
	}
}

#respond {
	.comment-form-author,
	.comment-form-email {
		width: 45%;
		input {
			width: 100%;
		}
	}
	.comment-form-author {
		float: left;
	}
	.comment-form-email {
		float: right;
	}
	textarea {
		margin-top: 15px;
	}
	#reply-title {
		margin: 28px 0;
	}
	#submit {
		padding: 10px 55px;
		font-weight: 600;
		margin-top: 15px;
	}
	@media screen and (max-width: 600px) {
		.comment-form-author,
		.comment-form-email {
			float: none;
			width: 100%;
		}
		textarea {
			margin-top: 0;
		}
		#submit {
			width: 100%;
			padding: 10px 0;
			margin: 0;
		}
	}
}

.wpjb-element-input-select .wpjb-field {
	height: 45px;
}

span.customSelect {
	@include adjust-font-size-to( 12px );
	background-color: #fff;
	color: $form_color;
	height: 45px;
	padding: 0 5px;
	@include box-sizing( border-box );
	@include border-radius( 5px );
	border: 1px solid #eaebeb;
	width: 70%;
	@media screen and ( max-width: 750px ) {
		width: 100%;
	}
	position: relative;
}
span.customSelect.changed {
	background-color: #f0dea4;
}
span.customSelectFocus {
	border-color: orange;
}
select {
	z-index: 100;
}
.customSelectInner {
	background: url( 'img/select-arrow-green.png' ) no-repeat center right;
	line-height: 33px;
	padding: 5px;
	height: 45px;
	width: 100%;
	@include box-sizing( border-box );
	&:after {
		//content: 'v'; /* lol */
		content: '';
		color: #fff;
		width: 35px;
		height: 33px;
		background: url( 'img/down-arrow-button.png' ) no-repeat center center $green;
		display: block;
		position: absolute;
		top: 5px;
		right: 5px;
		line-height: 0.45em;
		text-align: center;
		font-size: 20px;
		line-height: 20px;
		@include border-radius ( 5px );
	}
}
