body {
	color: $font_color;
}

a {
	color: $green;
	text-decoration: none;
	&:hover {
		color: $font_color;
	}
}

.site-title {
	h1 {
		padding: 0;
	}
	a {
	color: $font_color;
	}
}

body {
	background: $body_background;
	position: relative;
	&:after {
		content: '';
		background: $green;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		height: $top_bar_height;
	}
	&:before {
		content: '';
		position: absolute;
		display: block;
		top: $top_bar_height;
		left: 0;
		right: 0;
		background: $header_background;
		height: $header_height;
	}
}

.wrapper {
	padding-top: $top_bar_height;
}

#header {
	background: $header_background;
	padding-top: $top_bar_height;
	z-index: 10;
}

.header-buttons {
	line-height: 150px;
	text-align: center;
}

#content {
	background: $content_background;
	padding: 30px 3%;
	width: 91%;
	position: relative;
	@include border-radius( 5px );
	blockquote {
		@include border-radius( 5px );
		background: #eff0f2;
		padding: 1em 3%;
		margin: 1em 0;
		color: #9a9999;
		line-height: 30px;
	}
	dt {
		font-weight: 700;
	}
	dd {
		margin-left: 10px;
	}
	img {
		@include border-radius( 5px );
		max-width: 100%;
	}
	ul,
	ol,
	menu {
		padding-left: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	ul > ul,
	ol > ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

#secondary {
	background: $sidebar_background !important;
}

#header .secondary {
	background: $header_buttons_background;
}

#footer {
	color: $font_color_lighter;
}
