@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,800,700,300&subset=latin,cyrillic-ext,greek-ext,vietnamese,cyrillic,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:600,700);

$header_height : 150px;
$footer_height: 40px;
$max_width: 1200px;
$content_width: 75%;
$sidebar_width: 25%;
$top_bar_height: 5px;

$green: #9ecf32;

$red: #ff230c;

$header_background: #fff;
$header_buttons_background: #f4f5f6;
$body_background: #eff0f2;
$content_background: #f8f9f9;
$sidebar_background: #e5e6ea;
$font_color: #4e4e4e;
$font_color_lighter: #a9a9a9;
$form_color: #686868;

@mixin button {
	background: $green;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	padding: 11px;
	border: none;
	font-size: 13px;
	@include border-radius( 5px );
	&:hover {
		background: darken( $green, 4% );
		color: #fff;
	}
}
@mixin bottom-line { // this actually can also be used as top line
	content: '';
	height: 1px;
	position: absolute;
	display: block;
	background: $body_background;
	left: 0;
	right: 0;
}
