@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.bg-gray {
  background-color: $gray;
  border-bottom: 1px solid #e9e9e9;
  border-top: 9px solid rgb(154,28,70);
}

footer {

  padding-top: 60px;

  p {
    color: #242424;
  }

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
  margin-top: 15px;

  strong {
    font-weight: 700;
  }

  a {
    text-decoration: underline;

    &.none {
      text-decoration: none;
    }
  }

  .brand {
    border-top: 1px solid $gray-dark;
  }

  .clir-color {
    color: #242424;

    &:hover {
      color: $clir-burgundy;
    }
  }

  .clir-font {
    font-family: 'A028', serif;
    margin-left: 3px;
    font-weight: 400;
  }

  h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30.4px;
    
    &::after {
      content: '';
      width: 20%;
      height: 2px;
      background: $clir-burgundy;
      position: relative;
      display: block;
      margin: 20px 0;
    }
    
  }

  h5 {
    color: #333;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  a {
    color: #97a0af;
    &:hover {
      color: $link_color;
    }
  }

  ul li {
    margin: 5px 0;
  }

  .footer-alt {
    border-top: 1px solid rgba(151, 160, 175, 0.2);
    // margin-top: 30px;
    padding-top: 12px;
    padding-bottom: 24px;

    .logo {
      color: #97a0af !important;
      margin-bottom: 0;
      font-size: 17.6px;

      a {
        color: #000;

        &:hover {
          color: $link_color;
        }
      }
    }
  }

  .twitter {
    color: $twitter-blue;
  }

  .linkedin {
    color: $linkedin-blue;
  }

  .rss {
    color: $rss-orange;
  }

  .envelope {
    color: $envelope-red;
  }
}
