$link_color: #560319;
$gray:       #eef2f5;
$base-color: #4c5667;
$logo-color: #0165AE;
$dlf-blue:   #236DA3;

$twitter-blue:  #4099FF;
$linkedin-blue: #0177B5;
$rss-orange:    #F17330;
$envelope-red:  #D83232;

